extends layout

block content
  form.input-group.m-3(method='get' action=actionPath ? actionPath : '/authors')
    .input-group-prepend
      label.input-group-text(for='national') Search by national
    select#national.custom-select.mr-3(name='national')
      option(selected) All
      if authorNationals 
        each authorNational,i in authorNationals
          option(value=authorNational ) #{authorNational}
    button.btn.btn-info Search

  .author.m-3
    h2.pb-2 List of authors
    .list-group
      if authors
        each author,i in authors
          a.list-group-item.list-group-item-action(href=`/authors/${author._id}/books`) #{author.name}