extend layout

block content
  .row
    if books
      each book,i in books
        .col-12.col-sm-4.col-md-3.mt-3.mb-4
          .card
            img.card-img-top(src=book.img alt=`Img of ${book.title}`, style='width: 100%; height: 25em')
            .card-body
              h4.card-title=book.title
              h5.card-title=book.author.name
              p.d-block.overflow-hidden.card-text(style='height: 6em')=book.description
              p.card-text.font-weight-bold.font-italic=book.price+' VND'
            .card-footer.d-flex.justify-content-between.p-2
              a.btn.btn-info(href='#') See more
              a.btn.btn-primary(href='#') Add to cart
            

  